@use "../../../../styles/variables";

.fulfilledBtn {
    background: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
    border-radius: 4px;
    color: #ffffff;
    font-size: variables.$main-font-size;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 20px;
    &:disabled {
        background-color: grey;
        color: white;
    }
    &:active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    }
    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
            linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
        cursor: pointer;
    }
}
.btn-right-icon {
    margin-left: auto;
    display: flex;
    align-items: center;
}
