//Text colors
$error-input-color: #EB1717;
$main-text-color: #424242;
$secondary-text-color: #878787;
//Font sizes
$tiny-font-size: 11px;
$small-font-size: 12px;
$semi-small-size: 14px;
$main-font-size: 16px;
$middle-font-size: 17px;
$big-font-size: 24px;
$large-font-size: 32px;
