.slider {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 28px;
}
.slick-image{
  width: 164px;
  height: 149px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.slick-slide {

  padding: 0 3px;
  box-sizing: border-box;
}
